<div>
  <table>
    <tbody>
      <tr>
        <td><label class="header">Daily Goal: </label>
            <label>Take your meds today!</label>
        </td>
        <td>
          <Button class="addBtn">
            <span class="glyphicon glyphicon-check"></span>
          </Button>
        </td>
      </tr>
      <tr>
        <td>
          <label>Go for a run</label>
        </td>
        <td>
          <Button class="addBtn">
            <span class="glyphicon glyphicon-check"></span>
          </Button>
        </td>
      </tr>
      <tr>
          <td>
            <label>Eat Healthy</label>
          </td>
          <td>
            <Button class="addBtn">
              <span class="glyphicon glyphicon-check"></span>
            </Button>
          </td>
        </tr>
        <tr>
            <td>
              <label>Try something new</label>
            </td>
            <td>
              <Button class="addBtn">
                <span class="glyphicon glyphicon-check"></span>
              </Button>
            </td>
          </tr>
          <tr>
              <td>
                <label>Say Hello to a stranger</label>
              </td>
              <td>
                <Button class="addBtn">
                  <span class="glyphicon glyphicon-check"></span>
                </Button>
              </td>
            </tr>
  </table>
</div>


<div class='panel-footer'>
  <a class='btn btn-default' [routerLink]="['/homes']" style='width:80px'>
    <i class='glyphicon glyphicon-chevron-left'></i> Back
  </a>
</div>