/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

table{
    align-content: center;
    float: center;
    width:100%;
}

.header{
    font-size: 20px;
}
/* Remove margins and padding from the list */
tbody {
    margin: 10;
    padding: 10;
}

/* Style the list items */
tbody tr {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    padding: 10;
    text-align: center;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
tbody tr:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
tbody tr:hover {
    background: #ddd;
}

/* When ctdcked on, add a background color and strike out text */
tbody tr.checked {
    background: #888;
    color: #fff;
    text-decoration: tdne-through;
}

/* Add a "checked" mark when ctdcked on */
tbody tr.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: sotdd;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the input */
input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}