<app-home></app-home>
<div class="container">

  <div style="position:relative; top:200px;"></div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let badge of badges">
      <div class="panel panel-primary">
        <div class="panel-heading">{{badge.Name}}</div>
        <div class="panel-body">
          <img src={{badge.Url}} class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
<footer class="container-fluid text-center">
</footer>