
            <!-- <nav class="main-menu">
              <ul>
                  <li> -->
                      <!-- <a [routerLink]="['']"> -->
                          <!-- <i class="fa fa-home fa-2x"></i>
                          <span class="nav-text">
                              Home
                          </span>
                      </a>
  
                  </li>
                  <li class="has-subnav"> -->
                      <!-- <a [routerLink]="['']"> -->
                          <!-- <i class="fa fa-map-marker fa-2x"></i>
                          <span class="nav-text">
                              Profile
                          </span>
                      </a>
  
                  </li>
                  <li class="has-subnav"> -->
                      <!-- <a [routerLink]="['/signup/']"> -->
                         <!-- <i class="fa fa-list fa-2x"></i>
                          <span class="nav-text">
                              Modules
                          </span>
                      </a>
  
                  </li> -->
                  <!-- <li class="has-subnav">
                      <a [routerLink]="['last-seen']">
                         <i class="fa fa-bullhorn"></i>
                          <span class="nav-text">
                              Badges
                          </span>
                      </a>
  
                  </li> -->
                  <!-- <li>
                      <a [routerLink]="['my-pets']">
                          <i class="fa fa-bar-chart-o fa-2x"></i>
                          <span class="nav-text">
                              Goals
                          </span>
                      </a>
                  </li> -->
                  <!-- <li>
                          <a [routerLink]="['add-pet']">
                              <i class="fa fa-plus-square-o" ></i>
                              <span class="nav-text">
                                  Add Pet
                              </span>
                          </a>
                      </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-folder-open fa-2x"></i>
                          <span class="nav-text">
                              Medical Records
                          </span>
                      </a>
                  </li> -->
                <!-- </ul>
            </nav> -->