<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">WOW</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Skills</a></li>
              <li><a href="#">Modules</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
</nav>

        <!-- <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                  </ul>
                </div>
              </nav> -->
    

          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          <!-- <nav class="main-menu">
              <ul>
                  <li> -->
                      <!-- <a [routerLink]="['']"> -->
                          <!-- <i class="fa fa-home fa-2x"></i>
                          <span class="nav-text">
                              Home
                          </span>
                      </a>
  
                  </li>
                  <li class="has-subnav"> -->
                      <!-- <a [routerLink]="['']"> -->
                          <!-- <i class="fa fa-map-marker fa-2x"></i>
                          <span class="nav-text">
                              Profile
                          </span>
                      </a>
  
                  </li>
                  <li class="has-subnav"> -->
                      <!-- <a [routerLink]="['/signup/']"> -->
                         <!-- <i class="fa fa-list fa-2x"></i>
                          <span class="nav-text">
                              Modules
                          </span>
                      </a>
  
                  </li> -->
                  <!-- <li class="has-subnav">
                      <a [routerLink]="['last-seen']">
                         <i class="fa fa-bullhorn"></i>
                          <span class="nav-text">
                              Badges
                          </span>
                      </a>
  
                  </li> -->
                  <!-- <li>
                      <a [routerLink]="['my-pets']">
                          <i class="fa fa-bar-chart-o fa-2x"></i>
                          <span class="nav-text">
                              Goals
                          </span>
                      </a>
                  </li> -->
                  <!-- <li>
                          <a [routerLink]="['add-pet']">
                              <i class="fa fa-plus-square-o" ></i>
                              <span class="nav-text">
                                  Add Pet
                              </span>
                          </a>
                      </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-folder-open fa-2x"></i>
                          <span class="nav-text">
                              Medical Records
                          </span>
                      </a>
                  </li> -->
                <!-- </ul>
            </nav> -->