<app-home></app-home>

<!-- <div id="wrapper" *ngIf='showLogin'> 
<div id="yourdiv">  
      <a class='btn btn-default'[routerLink]="['/login']" style='width:80px' >Log in</a>
      <a class='btn btn-default'[routerLink]="['/signup']" style='width:80px'>Sign up</a>
    </div>
    </div> -->

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="page.css"> -->

<div class = "daff">
</div>

<div class = "doo">
<h2 style="text-align:left">User Profile Card</h2>
 <object align="right" > 
  <div class="container"> 
  <h2>Watch the Bar Go Up as you Complete Daily Tasks</h2>
  <p>You got this!</p> 
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
      40%
    </div>
  </div>
</div></object>
</div>

<div class="card">
  <img src ="assets/photo1.jpg" alt="why" style="width:100%" /> 
  <h1>Taylor Jackson</h1> 
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
 </div>
 <p><button>Contact</button></p>
</div>
