<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-dark bg-primary mb-4">
    <div class="container">
      <a href="#" class="navbar-brand">Angular App</a>
    </div>
</nav>
<div class="span3">
    <h2>Sign Up</h2>
    <form id="signup">
      <label>GamerTag:</label>
      <input type="text" name="gamerTag" class="span3">
      <label>Email Address:</label>
      <input type="email" name="email" class="span3">
      <label>Password:</label>
      <input type="password" name="password" class="span3">
      <button (click)="onSubmit()" class="btn btn-primary">Submit</button>     
      <button class="btn btn-primary mr-1">Already a member? Login</button>
      <!-- <button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick();"><i class="fa fa-plus"></i> Add</button>     -->
      
      
      <!-- btnClick= function () {
              this.router.navigateByUrl('/user');
      }; -->

      <!-- <input type="submit" value="Sign up" class="btn btn-primary pull-right"> -->
      <div class="clearfix"></div>
    </form>
</div>
