<div class="jumbotron">
  <div class="container text-center">
    <h1>World of Wellness</h1>      
    <p><b>Questing for a Better You</b></p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="assets/logo9.jpg" alt="logo" height="75px" width="75px">
      <!-- <a class="navbar-brand" img src="assets/logo9.jpg" href="#">Logo</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class=""><a href="#">Home</a></li>
        <li><a [routerLink]="['/tasks']" href="#">Tasks</a></li>
        <li><a [routerLink]="['/modules']" href="#">Modules</a></li>
        <li><a [routerLink]="['/badges']" href="#">Badges</a></li>
        <!-- <li><a href="#">About</a></li>        -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span>Account Settings</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Help</a></li> -->
        <li><a [routerLink]="['/profile']" href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      </ul>
    </div>
  </div>
</nav>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



